* { margin: 0; padding: 0; box-sizing: border-box; font-family: 'Segoe UI', sans-serif; }

body {
  background: linear-gradient(rgba(0,0,0,0.9), rgba(0,0,0,0.9)),
              url(../IMAGES/CIRCUIT.jpg) no-repeat center/cover;
  color: #f2f2f2;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-container {
  background: #111;
  padding: 2.5rem;
  border-radius: 10px;
  border: 2px solid #ff0033;
  width: 350px;
  text-align: center;
  box-shadow: 0 0 25px rgba(255,0,51,0.4);
}

.login-container h1 {
  color: #ff0033;
  margin-bottom: 0.5rem;
  font-size: 2rem;
}

.subtitle {
  font-size: 0.9rem;
  color: #aaa;
  margin-bottom: 1.5rem;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  text-align: left;
  margin: 0.5rem 0 0.2rem;
  font-weight: bold;
}

input {
  padding: 0.8rem;
  margin-bottom: 1rem;
  border: none;
  border-radius: 5px;
  background: #222;
  color: #fff;
}

input:focus {
  outline: 2px solid #ff0033;
}

button {
  background: #ff0033;
  color: #fff;
  padding: 0.8rem;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background: #fff;
  color: #ff0033;
  box-shadow: 0 0 15px #ff0033;
}

.forgot {
  margin-top: 1rem;
}

.forgot a {
  color: #ff0033;
  text-decoration: none;
  transition: 0.3s;
}

.forgot a:hover {
  text-decoration: underline;
}
